.login-popup {
  position: absolute;
  width: 28%;
  height: 68%;
  display: grid;
  border: transparent;
  border-radius: 10px;
}

.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 4px 4px 4px 4px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-popup-title img {
  width: 16px;
  cursor: pointer;
}
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}
.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
}
.login-popup-condition {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -16px;
}
.strong {
  color: #081528;
  cursor: pointer;
}

.login-popup-two {
  position: absolute;
  width: 27%;
  height: 60%;
  display: grid;
  border: transparent;
  border-radius: 5px;
}
